body {
    font-family: "Helvetica Neue";
}
.test{
    color: blue;
}
/* .formhead{
    width: 700px;
    padding: 20px;
    height: 5px;
    border: 2px solid black;
}
.container{
    padding: 20px;
    width: 700px;
    height: auto;
    border: 2px solid black;
}
input[name=tanggal] ,input[name=bulan]  {
    width: 20px;
  }
  input[name=tahun]  {
    width: 50px;
  } */